/* FONTS */
@font-face {
	font-family: Ampersand;
	src: local('Felix Titling'),
		local('Bell MT'),
		local('Elephant'),
		local('Bookman Old Style');
	unicode-range: U+26;
}

/* 
	GENERAL 
*/

* {
	box-sizing: border-box;
	margin: 0;
	list-style: none;
	text-decoration: none;
	border:none;
	-webkit-transition: 0.25s;
	        transition: 0.25s;
}

body {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
	font-family: 'Roboto', sans-serif;
	background: -webkit-linear-gradient(left, #C15656 33.3%, #FF9191 66.6%, #FFCBCB 0);
	background: linear-gradient(to right, #C15656 33.3%, #FF9191 66.6%, #FFCBCB 0);
    background-size: 1em 100%;
}

body>header, 
main article,
footer {
	background:#fff;
	box-shadow: 0 5px 4px -4px black;
}

ul {
	padding: 0;
}

svg {
    width: 1em;
    height: 1em;
}

img {
	width: 100%;
}

/* HEADINGS*/
h1, h2 {
	font-family: Ampersand, 'Roboto', sans-serif;
}

h1 {
	font-weight: 400;
}

h2 {
	font-weight: 300;
	margin-bottom: 0.5em;
}

/* 
	HEADER 
*/

body>header {
	width: 95%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background: #9C0000;
    color:#fff;
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
}

body>header h1 {
	text-align: center;
	padding:0.5em;
}

header figure {
	width: 50%;
	padding: 0.5em;
}

header img {
	border-radius: 50%;
	border: 5px solid #FF9191;
}

/* 
	NAVIGATION
*/

body>header nav {
	width: 100%;
}

body>header nav li {
    width: 100%;
}

body>header nav a {
	width: 100%;
	padding: 0.5em;
	color: #fff;
	display: block;
}

body>header nav a:hover {
    background: #FF9191;
}

a[href='#profile-picture'] svg {
    fill: #5ECBFB;
}

header nav ul li:nth-of-type(2) svg {
    fill: #655EFB;
}

header nav ul li:nth-of-type(3) svg {
    fill: #5EFB92;
}

header nav ul li:nth-of-type(4) svg {
    fill: #FB5E5E;
}

/* 
	MAIN CONTENT 
*/

main {
	width: 100%;
	padding: 1em;
}

main article,
footer {
	padding: 2em;
	margin-top: 1em;
	border-top: 0.25em solid #9C0000;

}

main article:hover,
footer:hover {
	border-top: 0.25em solid #FF9191;
}

p {
    line-height: 1.5;
    max-width: 50em;
}

/* FORM */
fieldset {
	padding: 0;
}

label {
    display: block;
}

input, button, label span {
    width: 100%;
    padding: 0.5em;
	margin: 0.25em;
}

input {
    border-bottom: 1px solid #9C0000;
	outline: none;
}

input:hover, input:focus {
	border-bottom: 1px solid #FF9191;
	color: #FF9191;
}

button {
	cursor: pointer;
    margin: 1em 0;
    color: #fff;
    background: #9C0000;
    border-radius: 0.5em;
}

button:hover {
	background: #FF9191;
}

/* FIGURE */
article figure {
    display: inline-block;
    width: 40%;
    vertical-align: top;
}

/* 
	FOOTER
*/
footer {
	width:100%;
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
	padding: 2em;
}

footer section {
	width: 100%;
	padding: 1em;
}

footer a {
	color: #000;
	padding: 0.5em;
}

footer a:hover {
	color: #FF9191;
}

pre {
    white-space: pre-line;
}

@media (min-width: 30em) {
	body>header {
		width: 65%;
	}
	#password {
		width: 20%;
		min-width: 17.5em;
	}
	footer section {
		width: 20%;
	}

}

@media (min-width: 45em) {
	body>header {
		width: 20%;
    	max-width: 20em;
		min-width: 12.5em;
	}
	main {
		width: 70%;
	}
}

    